
<h1 class="app-main-title">IpInfoTest > FavoriteIPs</h1>

<app-ip-info-test-table-favorite-i-ps
  string:tag="table-favorite-i-ps"
  int:record-id="{{ viewParams.recordId }}"
></app-ip-info-test-table-favorite-i-ps>